body {
  font-family: "Roboto", sans-serif;
  background: #304755;
  
   
  
  /* height: 100vh; */
  /* /* min-height: auto; */
    min-width: auto; 
    display:flex;    
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  align-items: center;
  max-width: 100%;
  
  }
/* Header */
.logo {
  width: 123px;
  height: 81px;

  margin-top: 25px;
  margin-left: 135px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
}
.header-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
}

.soc-net {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  gap: 17px;
  margin-left: 120px;
  margin-top: 43px;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 34px;
  font-size: 22px;
  color: white;
  margin-left: 120px;
  margin-right: 135px;
}
.header_link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: white;
}
.header-ul {
  list-style-type: none;
  gap: 20px;
}

.nav-button {
  display: flex;
  
  align-items: center;
  justify-content: center;
  height: 58px;
  width: 199px;
  border-radius: 20px;
  background: #ee7649;
  border: none;
  font-size: 22px;
  line-height: 26px;
  color: #fffdff;
  
}

.nav-button:hover {
  cursor: pointer;
}
.social-icon {
  width: 40px;
  height: 40px;
  left: 547px;
  top: 43px;

  background: url(Watsapp.png);
  border: none;

  text-align: center;
  text-decoration: none;
  display: flex;
  border-radius: 50%;
}
.social-icon:hover {
  cursor: pointer;
}
/* finish header */






.container {
  
  margin: 39px 135px 0 135px ;
  
}
.flex {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
}

.main_title{
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
  max-width: 474px;
  color: white;
}
.mine-text-color{
  font-weight: 600;
font-size: 48px;
line-height: 71px;
  color: #EE7649;
}
.mine-text{
  margin-top: 21px;
  font-weight: 500;
font-size: 20px;
line-height: 32px;
max-width: 474px;
  color: white;
}
.mine-button {
  margin-top: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 58px;
  width: 263px;
  border-radius: 20px;
  background: #ee7649;
  border: none;
  font-size: 22px;
  line-height: 26px;
  color: #fffdff;
}
.mine-button:hover {
  cursor: pointer;
}

.dots {
margin-top: 25px;
margin-left: 240px;
}
.run{
  color: #EE7649;
  font-size: 36px;
}

/* CONTACT PAGE */
.contact{
  display: flex;
  flex-direction: column;
  font-size: 40px;
  margin-top: 300px;
  gap: 30px;

}
.phone-color{
  color: #fffdff;
  
}
.tel{
  text-decoration: none;
}

